img{
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    transition: 0s 2s ;
}


.align{
    display: flex;
    margin-top: 30em;
    justify-content: center;
}



.btn{
    margin: 5px; 
    font-size: 2rem;
    font-weight:700;
    padding: 0.5em 1em;
    color: var(--clr-accent) ; 
    border-radius: 30px;
    background-color: rgb(225, 227, 249);
    border: 10px solid rgb(81, 90, 161);
    --clr-accent: rgb(81, 90, 161);
    --clr-light: rgb(255,255,255);
    /*transition properties when :hover
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    These properties can be shortened...
    */
    /* Transition properties shortened*/
    transition: transform 0.3s, background-color 0.3s, color 0.3s;

}

.btn:hover{
    transform: translateY(-30px);
    transform: rotate(3deg);
    background-color: var(--clr-accent);
    color: var(--clr-light);
}
